/*hatter beallitasai*/
body {
    font-family: "Lucida Console,monaco, monospace";
    display: flex;
    justify-content: center;
    align-items: center;
    height:100dvh;
    margin: 0px;
    background-image: url("2384075.jpg");
    background-size: cover; /* A kép kitölti az egész képernyőt */
    background-position: center; /* Kép középre igazítása */
}

/*'Agymanok' cim*/
h1 {
    font-size: 45px;
    position: absolute;
    top:10px;
    left: 10px;
}

/*'Regisztralj' cim*/
h2{
    font-size: 70px;
    text-align: center;
    transform: translateY(-20px);
}

.hidden {
    display: none;
}

input[type="firstname"],
input[type="lastname"],
input[type="username"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="class"],
input[type="date"] {
    font-size: 20px;
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 90%;
}

/*'regisztracio' gomb megjelenitese*/
button {
    padding: 10px 50px;
    font-size: 30px;
    color: #fff;
    background-color: #247ac0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transform: translateY(100px);
}

/*gomb feletti hatter valtozik*/
button:hover {
    background-color: #000853;
}

/*'tanar-diak' szoveg stilusa*/
.form-group {
    margin-top: 10px;
    font-size: 20px;
    top: -100px;
}

/*radiogombok*/
input[type="radio"] {
    width: 20px;
    height: 20px;
}

/*pipa ablak 'elfogadom a ...'*/
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

input[type="checkbox1"]{
    width: 5px;
    height: 5px;
}

input[type="checkbox"]:disabled + label {
    color: gray;
}

input[type="checkbox"]:checked + label {
    color: green;
}

.error-message {
    margin-top: 4px;
    font-size: 12px;
    color: red;
}